[Desktop Entry]
Type=Application
Name=Touch Scale App
Exec=/home/rporkert/scale_project/env/bin/python /home/rporkert/scale_project/scale_app.py
Path=/home/rporkert/scale_project
StartupNotify=false
